<!-- File: D:\wc5beta\http\template\file_password.htm -->
<html>
<LINK REL="stylesheet" TYPE="text/css" HREF="/template/templates.css">
<LINK REL="stylesheet" TYPE="text/css" HREF="/template/buttons.css">
<head><title>Enter Password for @FILE.NAME@</title></head>

<style>
body  {
   background: #EFF6FF; font-family: verdana,tahoma,arial; font-size : 8pt;
   color : Blue;
}
#pwdFieldSet {
   margin-left: 20%; margin-right: 20%;
   background: lightcyan;
}
#pwdLegend {
   font-weight: bold;
   background: lightcyan;
}
</style>

<body>
@include "pageheader.inc"@

<br>
<fieldset id="pwdFieldSet">
<legend id="pwdLegend">[ Password Protected File ]</legend>
<p>Password required to download file: <b>@FILE.NAME@</b></p>

<form method="GET" action="/file/area@SUB AREA@/@SUB FILENAME@">
<p>
Enter Password: <input type="password" name="pwd" size="20"> <input type="submit" value="Submit">
<p>
</form>
</fieldset>

@set SkipCopyRight=FrameMode@
@include "pagefooter.inc"@


</body>
</html>