/* Style Sheet for ForgotPasswordPage.wct */

body        { margin: 2%; font-family: verdana,helvetica,arial,sans-serif; font-size : 10pt; }
#divBody    { padding: 0 5pt 5pt 5pt; border: 3px outset silver; background: whitesmoke;}
#inputTable { border: 1px solid silver; border-collapse: collapse; background: white;}
#inputTable td,th { padding: 5px;}
#acctname   { text-transform: lowercase; }
#btnSubmit  { font-size: 8pt;font-weight: bold;}
h4.error    { background:  red; color: black; border: 1px solid black;}
p.warning   { color: red; font-weight: bold; font-size: 12pt;}
p           { text-align: justify;}

