@COMMENT@
file: message_read.htm

used by html-list messages.wcx

history:

v6.1.451.5 10/15/2007

v6.2.452.3
- cleaned up

v6.3.452.8 01/08/2008
- now using @GET for MSGFROM, MSGTO variable

@ENDCOMMENT@

<html>
<head>
<title>Conference @CONF.NUMBER@ - @CONF.NAME@</title>
<link rel="stylesheet" type="text/css" href="/template/templates.css">
<link rel="stylesheet" type="text/css" href="/template/buttons.css">
<script language="JavaScript" src="/template/wcmsglib.js"></script>

<style>
body      { font-family: verdana,tahoma,arial; font-size : 8pt; }
.collapse { border-collapse: collapse; }
</style>

<!--- 452.3e Mail Preview window -->
@set MailPreviewNote="Preview message in snoop mode"@
@set MailPreview = User.Profile("MailOpts.Preview","1")@
@if MailPreview@
<link rel="stylesheet" type="text/css" href="/public/js/wildcat.wctipster.css">
<script type='text/javascript' src='/public/js/jquery.pack.js'></script>
<script type='text/javascript' src='/public/js/jquery.wctipster.mini.js'></script>
<script type='text/javascript'>
  $(window).load(function() {
    $('a.wcpreview').wcTipster({
@if !FrameMode@
       width: 400,
@endif@
       cacheEnabled: true,
       enableWaitImage: true
    });
  });
</script>
@endif@
<!---------------------------------------->

</head>

<body>

@include "pageheader.inc"@

<table width="96%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr>
    @if !FrameMode@
	<td><img src="/public/graphics/c-msg.gif" width="211" height="50" alt="Messaging" border="0"></td>
    @endif@
	<td valign="bottom"><b>Conference @CONF.NUMBER@ - @CONF.NAME@</b></td>
    <!-- Note: showing this might confuse people. -->
   @if TRUE@
	<td valign="bottom" align="right"><b>Messages @SUB indexfirst@ - @SUB indexlast@ of @SUB total@</b></td>
	<td valign="bottom" align="right">
      <a href="/code/html-read+message?frames=@SUB frames@&threads=n&conf=@CONF.NUMBER@&msgid=@sub lastreadid@&nextprev=1"@IF FrameMode@ target="body"@ENDIF@>
   	<b>Last Read: @SUB lastread@</b>
      </a>
      <a href="/code/html-list+messages?@SUB bparm@&index=@SUB lastreadid@" class="item">&nbsp;TopLast&nbsp;</a>
	</td>
   @endif@
  </tr>
</table>

@include "message_indexmenu.inc"@
<form name="list" action="/code/html-list+messages" method="post" class="msglistForm">
  <input type="hidden" name="frames" value="@SUB frames@">
  <input type="hidden" name="conf" value="@SUB conf@">
  <input type="hidden" name="threads" value="@SUB threads@">
  <input type="hidden" name="index" value="@SUB index@">
  <input type="hidden" name="pg" value="r">
  <input type="hidden" name="command" value="">
  <table width="96%" border="0" cellspacing="1" align="center" class="msglisttable">
    <tr>
      <th class="msglisthdr"><input type="checkbox" name="msgall" title="Check or Uncheck all" onClick="msgToggleAll()" value="1"></th>
      <th class="msglisthdr"><b>&nbsp;Msg#&nbsp;</b></th>
      <th class="msglisthdr"><b>&nbsp;Date&nbsp;</b></th>
      <th class="msglisthdr"><b>&nbsp;From (Author)&nbsp;</b></th>
      <th class="msglisthdr"><b>&nbsp;To&nbsp;</b></td>
      <th class="msglisthdr"><b>&nbsp;R&nbsp;</b></th>
    </tr>

    @LOOP@
    @if !Deleted@
      @if lastreadbreak@
      <tr>
        <td colspan=10 align="center" class="msglistmarker"><b>*** Last Read Message Position (Last Read: @SUB lastread@) ***</b></td>
      </tr>
      @endif@
      <tr>
        @if candelete@
          <td valign=top rowspan=2 class="msglist@SUB ci@">
          <input type="checkbox" class="msgitem" name="msg@MSG.ID@" value="@MSG.ID@">
          </td>
        @else@
          <td rowspan=2 class="msglist@SUB ci@">&nbsp;</td>
        @endif@
        <td valign=top rowspan=2 class="msglist@SUB ci@">&nbsp;@MSG.NUMBER@&nbsp;</td>
        <td valign=top rowspan=2 nowrap class="msglist@SUB ci@">&nbsp;@MSG.DATE@&nbsp;</td>
        <td valign=top nowrap class="msglist@SUB ci@" width="50%">&nbsp;@GET MSGFROM@&nbsp;</td>
        <td valign=top nowrap class="msglist@SUB ci@" width="50%">&nbsp;@GET MSGTO@&nbsp;</td>
        <td valign=top nowrap class="msglist@SUB ci@" width="2%">@MSG.REPLYCOUNT@</td>
        <tr>
          <td valign=top colspan=10 wrap class="msglist@SUB ci@" width="90%">
            @IF New@<img src="/images/new.gif" title="New @IF MSG.PRIVATE="Yes"@private @ENDIF@personal message" border="0">@ENDIF@
   @if snoopable@
            <a href="/code/html-read+message?frames=@SUB frames@&threads=n&conf=@MSG.CONFERENCE.NUMBER@&msgid=@MSG.ID@&nextprev=1&snoop=1"
               @if framemode@ target="body"@endif@>
            <img src="/images/snoop.gif" title="@SUB MailPreviewNote@" border="0">
            </a>
   @endif@
            <a href="/code/html-read+message?frames=@SUB frames@&threads=n&conf=@MSG.CONFERENCE.NUMBER@&msgid=@MSG.ID@&nextprev=1"
   @if MailPreview@
               rel="/code/html-getmsg.wcx?conf=@MSG.CONFERENCE.NUMBER@&msgid=@MSG.ID@&max=255"
               class="wcpreview"
               id="Tip@MSG.ID@"
               title="From: @SUB MSGFROM@"
   @endif@
               @IF FrameMode@ target="body"@ENDIF@>
            <b>&nbsp;@SUB MSGSUBJECT@&nbsp;</b>
            </a>
          </td>
        </tr>
      </tr>
    @endif@
    @ENDLOOP@
    @if HasMessages@
      <tr>
         <td colspan=10 class="itemgifrow" valign="bottom" align="left">
          <a href="javascript:void msgAction('delete');" class="itemgif" title="delete checked message(s)">
          <img src="/images/msgdelete.gif" align="top" border="0" width="12px" height="12px">
          &nbsp;Delete&nbsp;
          </a>
         </td>
      </tr>
    @else@
      <tr>
        <td colspan=10 align="center" class="msglistmarker">
        <b>No New Messages</b>
        </td>
      </tr>
    @endif@
  </table>
</form>

@include "message_indexmenu.inc"@

@include "pagefooter.inc"@

</body>
</html>
