<!-- message_conferences.htm: used by client?message.wcn
v6.2.452.1  01/30/2007
     - now using message_frame_init.wct template to
       initialize the index and body frames.
     - added a group listing divider/scroller with auto-resizing
v6.3.453.2  11/18/09 - now using wcaudioplay.inc
-->

@COMMENT@

Message_Conferences.htm is a template that is called once
or twice depending if the user is in "Frame Mode".

When the user is in FRAMEMODE:

html-message.wcx will load this template with FrameHeader set
to true.

When "FrameHeader" is true, the frames are prepared. Each frame will
call its own template page.

   +--------------------------------+
   | TOP                            |
   |--------------------------------|
   | RIGHT        |  LEFT-TOP       |
   |              |-----------------|
   |              |                 |
   |              |  LEFT-BOTTOM    |
   +--------------------------------+

The RIGHT frame will call "html-conference areas.wcx" and this wcx
will load the page again with FrameHeader OFF thus display the
actual content.

When the user is NOT in FRAMEMODE:

html-message will call "html-conferences areas.wcx" directly
thus display the areas in non-frame mode.

@ENDCOMMENT@

@if FrameHeader@

@include "globalopts.inc"@

@if AreasFrame.Resizer@
   @Set AreasFrame.Width="320pt"@
   @Set AreasFrame.Attributes="scrolling='auto' noresize='noresize'"@
   @if ListFrame.Resizer@
     @Set ListFrame.Attributes="scrolling='auto' noresize='noresize'"@
   @endif@
   @if 0@
     @Set MailFrame.Attributes="scrolling='auto' noresize='noresize'"@
   @endif@
@else@
   @Set AreasFrame.Width="35%"@
   @Set AreasFrame.Attributes="scrolling='auto'"@
@endif@

<html>
<title>Wildcat! Mail Conference areas</title>

@if UseTopFrame@
<frameset id="WildcatFrameTopMenu"  rows="40pt,*" class="frames">
  <frame id="topMenu" scrolling="no" noresize="noresize" name="topmenu" framespacing="0" src="/template/pageheader.wct" class="frames">
@endif@

  <frameset id="WildcatFrame" cols="@SUB AreasFrame.Width@,*" class="frames">
    <frame id="AreasFrame" name="areas" @sub AreasFrame.Attributes@ framespacing="0" src="/code/html-conference+areas?frames=y&threads=@SUB user.htmlthreads@" class="frames">
    <frameset rows="35%,*" class="frames">
      <frame id="AreaListFrame" name="index" @sub ListFrame.Attributes@  framespacing="0" src="/template/message_frame_init.wct?target=index" class="frames">
      <frame id="AreaMsgFrame"  name="body" @sub MailFrame.Attributes@ framespacing="0" src="/template/message_frame_init.wct?target=body" class="frames">
    </frameset>
  </frameset>

@if UseTopFrame@
</frameset>
@endif@

<noframes>
<body>
  Since your browser does not support frames, change your
  <a href="/code/html-personal?page=skins">Personal Properties</a>
  to turn off frame mode.
</body>
</noframes>

</html>
@exit@
@endif@
@//@----------------  END OF FRAME HEADER SETUP -------------------

@//@----------------  START OF AREA DISPLAY -----------------------
@SetNodeActivity "Reading mail"@

<html>
<head>
<title>Wildcat! Mail Conference areas</title>

<link rel="stylesheet" type="text/css" href="/template/templates.css">
<link rel="stylesheet" type="text/css" href="/template/buttons.css">
@if NewMail@
@include "wcAudioPlay.inc"@
@endif@

<style>
@if AreasFrame.Divider@
html { overflow-y: hidden; }
@endif@

.bar { background: silver; }

table.buttontable {
    border: 1px solid #333333;
    border-collapse: collapse;
    empty-cells: show;
    white-space: nowrap;
    font-family: verdana,tahoma,arial; font-size : 8pt;
    font-weight : Bold;
    background : Silver;
}

table.buttontable td {
    vertical-align: top;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
}

#btnText {
   display: inline;
   padding: 5pt;
   vertical-align: middle;
}

#btnImage {
    border: 0px;
@if "MSIE"?Http.User-Agent@
    width: 16px;
    height: 16px;
@endif@
}

.Capitalize {
  text-transform: capitalize;
}

</style>

</head>

<body id="mybody" @if AreasFrame.Divider@onresize="AreasBodyResizer();"@endif@>

@if NewMail && User.Profile("Audio.NewMail",1)@
<script type="text/javascript">PlayAudioID("NewMail");</script>
@endif@

@include "pageheader.inc"@

@if FrameMode && AreasFrame.Resizer@
<script type="text/javascript">
   function toggleResize()
   {
@if ListFrame.Resizer@
     var l = parent.document.getElementById("AreaListFrame");
     if (l) l.noResize = !l.noResize;
@endif@
     var t = parent.document.getElementById("AreasFrame");
     if (t) t.noResize = !t.noResize;
     var a = parent.document.getElementById("topMenu");
     if (a) a.noResize = !a.noResize;
     if (t) {
       var img = document.getElementById("resizeGif");
       if (img) {
          img.src   = t.noResize?"/images/noresize.gif":"/images/resize.gif";
          var s = "["
@if UseTopFrame@
          s += "TopRows: "+parent.document.getElementById("WildcatFrameTopMenu").rows;
          s += " / ";
@endif@
          s += "RightCols: "+parent.document.getElementById("WildcatFrame").cols;
          s += "]";
          img.title = t.noResize?"Click to resize frames":("Click to lock frames: "+s);

       }
     }
   }
   document.writeln('<div id="AbsoluteTopFloatRight" style="right:16px;">');
   document.writeln('<a href="#" onclick="toggleResize();"><img id="resizeGif" src="/images/noresize.gif" border="0" align="top" title="Click to resize frames"></a>');
   document.writeln('</div>');
</script>
@endif@

<table width="96%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr><td><img src="/public/graphics/c-msg.gif" width="211" height="50" alt="Messaging" border="0"></td></tr>
</table>


<!-- Mail Conferences Menu Display -------------------------------------

Frame Mode w/ UseTopFrame FALSE

   +-----------------------------+
   | HOME       | LOGFF          |
   |------------+----------------|
   | [NO]FRAME  | FLAT/THREADS   |
   |------------+----------------|
   | CREATE NEW | NEW MAIL INBOX |
   |------------+----------------|
   | OPTIONS    | HELP           |
   +-----------------------------+

Frame Mode /w  UseTopFrame TRUE

   +-----------------------------+
   | [NO]FRAME  | FLAT/THREADS   |
   |------------+----------------|
   | CREATE NEW | NEW MAIL INBOX |
   |------------+----------------|
   | OPTIONS    | HELP           |
   +-----------------------------+

No Frames

   [NO]FRAMES | FLAT/THEADS | CREATE NEW | NEW MAIL | INBOX | OPTIONS

------------------------------------------------------------------------>

<center>

@//@ v:\wc5beta\http\template\custom\wcButtonMenu-MailAreas.inc
@include "wc:\http\template\wcButtonMenu-MailAreas.inc"@

@set MaxCols=0@
@if FrameMode@@set maxcols=3@@endif@
<table id="tbAnch"
       border="0"
       width="90%"
       cellspacing="0" cellpadding="2"
       class="buttontable">
@set ci=0@
@for i=1 to btns.count@
   @if MaxCols > 0@
   @if ci = 0 || btns[{i}][4]="1"@<tr>@set ci=0@@endif@
   @endif@
    <td width="%1" id="ab2" class="Capitalize @sub btns[{i}][3]@" valign="top">
      <a class="item"
@if FrameMode@
         target="@sub brefs[{i}][1]@"
@endif@
         title="@sub brefs[{i}][2]@"
         href="@sub brefs[{i}][3]@">
      <img id="btnImage" alt="" align="top" src="@sub btns[{i}][2]@">
      <div id="btnText">@sub btns[{i}][1]@</div>
      </a>
    </td>
  @inc ci@
  @if MaxCols > 0@
  @if ci = MaxCols || i = btns.count@</tr>@set ci=0@@endif@
  @endif@
@next@
@if !FrameMode@
  <td nowrap width="100%">
  &nbsp;
  </td>
@endif@
</table>

</center>

<!---- Conferences Listing ----->

<center class="msgmainmenu"><b>Mail Conference Areas</b></center>

<table id="areasTable"
       width="96%"
       border="0"
       cellspacing="0"
       cellpadding="0"
       align="center">
@LOOP group@
  <tr><td colspan=3 height="2" class="bar"></td></tr>

  @if SelectedGroup@
    <tr><td align=left colspan=3 class="msggroup"><a href="/code/html-conference+areas?frames=@SUB query.frames@&threads=@SUB threads@" name="group@SUB groupnum@">@SUB groupname@</a> (@SUB groupmessages@)</td></tr>

@if AreasFrame.Divider@
    <tr>
    <td colspan=3>
       <div id="areaListDivider"
            class="areaListDivider"
            style="overflow:auto;
                   clear:both;
                   height: auto;
                   width: auto;"
            id="AreaList">
       <table>
@endif@

    @loop conf@
       <tr>
        <td>&nbsp;</td>
        <td valign=top class="msgconfnum">@SUB confnum@.</td>
        <td width="100%" class="msgconfname">
           <table width="96%" border="0" cellspacing="0" cellpadding="0" align="center">
           <tr>
             <td>
               <a href="/code/html-list+messages?frames=@SUB query.frames@&conf=@SUB confnum@&group=@SUB groupnum@&threads=@SUB threads@"@if FrameMode@ target="index"@endif@>
                @SUB confname@ (@SUB confmsgs@@if confnewmsg@<font color=red>+</font>@endif@)
               </a>
             </td>
             @if !FrameMode@
             <td align=right nowrap>
               Last Post: @MSG.DATE@
             </td>
             @endif@
           </tr>
           @if ShowMailAreaDesc@
             @if ConfSysop@<tr><td colspan=10>Moderator: <a @if AllowPost@href="/code/html-new+message?frames=@sub query.frames@&conf=@sub confnum@&to=@sub confsysop@&direct=1"@if FrameMode@ target="body"@endif@@endif@>@sub confsysop@<br></a></td></tr>@endif@
             @if !FrameMode@<tr><td colspan=10>@if Exist ConfDescFile@@Include ConfDescFile@@endif@</td></tr>@endif@
           @endif@
           </table>
        </td>
      </tr>
    @endloop@

@if AreasFrame.Divider@
       </table>
       </div>
    </td>
    </tr>
@endif@

  @else@
    <tr><td align=left colspan=3 class="msggroup"><a href="/code/html-conference+areas?frames=@SUB query.frames@&threads=@SUB threads@&group=@SUB groupnum@#group@SUB groupnum@" name="group@SUB groupnum@">@SUB groupname@</a> (@SUB groupmessages@)</td></tr>
  @endif@
@ENDLOOP@
  <tr><td colspan=3 height="2" class="bar"></td></tr>
</table>


<div id="lastElement">
@include "pagefooter.inc"@
</div>

@if AreasFrame.Divider@
<script type="text/javascript" src="/template/arearesizer.js"></script>
<script type="text/javascript">
dimensions(0); // resize divider
</script>
@endif@

</body>
</html>

